<div class="container">
  <div class="header-container">
    <div class="video">
      <%= video_tag "landing-video.mp4", autoplay: "autoplay", id: "video", muted: true, width: "  100%", loop: "true", :class => "video"%>
    </div>
    <h1>Hector's Cocktails</h1>
  </div>

  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
      <div class="card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cocktail.photo %>)">
        <%= cocktail.name %>
      </div>
      <% end %>
    <% end %>
  </div>


  <button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to 'New Cocktail', new_cocktail_path %></button>

</div>
